.header {
    display: flex;
    align-items: center;
    justify-content: space-around;
    background-color: #1F2937


}


.logo {
    color: #F9FAF8;
    font-size: 24px;
    


}


ul{
    display: flex;
    justify-content: flex-end;
    gap: 20px;
    list-style: none;
    font-size: 18px;
    color: #E5E7EB
    
}

.main{
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #1F2937

}

.main-text{
    display: flex;
    flex-flow: column wrap;
    justify-content: flex-start;
    align-items: center;
    flex-basis: 350px


}

.main-img{
    width: 700px
}

.main h1{
    font: 48px extra-bold;
    color: #F9FAF8
}

.main p{
    font: 18px;
    color: #E5E7EB;
    
}