@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

*{
    margin: 0;
    padding: 0
}

body{
    display: flex;
    flex-direction: column;
    font-family: Roboto slab, sans-serif;
}

.top-section{
    background-color: #1F2937
}


.navbar {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    


}

.navbar-logo, .navbar-links{
    display: flex;
    width: 50%;
    justify-content: center;
    align-items: center;
}


.navbar-logo {
    color: #F9FAF8;
    font-size: 24px;
    font-weight: bold;
    
}


ul{
    display: flex;
    gap: 20px;
    list-style: none;
    font-size: 18px;
    color: #E5E7EB
    
    
}

.main{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    margin: 40px;
    padding: 5px;

    
}

.main-text{
    display: flex;
    flex-flow: column wrap;
    justify-content: center;
    align-items: flex-start;
    width: 50%;
    gap: 10px;
    margin-left: 150px

    
}

.main-img{
    display: flex;
    flex-flow: column wrap;
    justify-content: center;
    align-items: flex-start;
    width: 50%;
    gap: 10px

}



.main-img{
    /*border: 2px solid red;*/
    margin: 40px
}

.main h1{
    font: 48px;
    font-weight: bolder;
    color: #F9FAF8
}

.main p{
    font: 18px;
    color: #E5E7EB;
    
}

.main-button{
    background-color: #3882F6;
    color: white;
    border-radius: 10px;
    width: 100px;
    height: 30px;
    border: 1px #3882F6;

}